/* css styles */

/* a {text-decoration: none; } */


a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: underline; 
  } 
  a:active { 
    text-decoration: none; 
  }
  


.green {
  color: #52be80; /* Text color */
}

.blue {
  color: #1f77b4; /* Text color */
}

.orange {
  color: #d95f02; /* Text color */
}